# Windows Build Configuration for AppVeyor
# http://www.appveyor.com/docs/appveyor-yml

# version format
version: "{build}"

image:
  - Visual Studio 2013
  - Visual Studio 2015
  - Visual Studio 2017

platform:
  - x64

environment:
  PYTHON_PATH: "C:/Python27"
  PYTHON_PACKAGE_PATH: "C:/Python27/Scripts"

configuration:
  - Debug
  - Release

branches:
  only:
    - master

# scripts that are called at very beginning, before repo cloning
init:
  - ps: (new-object net.webclient).DownloadFile('https://bootstrap.pypa.io/get-pip.py', 'C:/get-pip.py')
  - "%PYTHON_PATH%/python.exe C:/get-pip.py"
  - "%PYTHON_PACKAGE_PATH%/pip.exe install nose"

# scripts that run after cloning repository
install:
  - git clone https://github.com/google/googletest.git          third_party/googletest
  - git clone https://github.com/google/glslang.git             third_party/glslang
  - git clone https://github.com/KhronosGroup/SPIRV-Tools.git   third_party/spirv-tools
  - git clone https://github.com/KhronosGroup/SPIRV-Headers.git third_party/spirv-tools/external/spirv-headers

build:
  parallel: true  # enable MSBuild parallel builds
  verbosity: minimal

build_script:
  - mkdir build && cd build
  - cmake .. -DCMAKE_INSTALL_PREFIX=install
  - cmake --build . --target install --config %CONFIGURATION%

test_script:
  - ctest -C %CONFIGURATION% --output-on-failure

after_test:
  # For debug build, the generated dll has a postfix "d" in its name.
  - ps: >-
      If ($env:configuration -Match "Debug") {
        $env:SHADERC_DLL="shaderc_sharedd.dll"
      } Else {
        $env:SHADERC_DLL="shaderc_shared.dll"
      }
  - cp libshaderc\%CONFIGURATION%\%SHADERC_DLL% install\lib\
  - cd install
  - 7z a artifacts.zip bin\glslc.exe include\shaderc\* lib\shaderc_combined.lib lib\%SHADERC_DLL%

artifacts:
  - path: build\install\artifacts.zip
    name: shaderc-artifacts
  - path: build\install\bin\glslc.exe

deploy:
  - provider: GitHub
    auth_token:
      secure: 2eLsMUFD0NxGTFpcl627vYDiwTM41ZEolu9mYBIsvAzNscyh0X1SrLmH0EVfNLi/
    release: master-tot-release
    description: "Continuous release build of the top of the tree (ToT) of the master branch by Appveyor.\n\nartifacts.zip contains the build artifacts for Windows x64 platform:\n- glslc.exe\n- shaderc C/C++ headers\n- shaderc_combined.lib\n- shaderc_shared.dll"
    artifact: shaderc-artifacts
    repository: antiagainst/shaderc
    draft: false
    prerelease: false
    force_update: true
    on:
      branch: master
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      configuration: Release
  - provider: GitHub
    auth_token:
      secure: 2eLsMUFD0NxGTFpcl627vYDiwTM41ZEolu9mYBIsvAzNscyh0X1SrLmH0EVfNLi/
    release: master-tot-debug
    description: "Continuous debug build of the top of the tree (ToT) of the master branch by Appveyor.\n\nartifacts.zip contains the build artifacts for Windows x64 platform:\n- glslc.exe\n- shaderc C/C++ headers\n- shaderc_combined.lib\n- shaderc_sharedd.dll"
    artifact: shaderc-artifacts
    repository: antiagainst/shaderc
    draft: false
    prerelease: false
    force_update: true
    on:
      branch: master
      APPVEYOR_BUILD_WORKER_IMAGE: Visual Studio 2017
      configuration: Debug

notifications:
  - provider: Email
    to:
      - antiagainst@google.com
      - awoloszyn@google.com
      - dneto@google.com
      - qining@google.com
    subject: 'Shaderc Windows Build #{{buildVersion}}: {{status}}'
    on_build_success: false
    on_build_failure: true
    on_build_status_changed: true
